{% extends "base.html" %}

{% block title %}
Word Generator
{% endblock %}

{% block indexJumbo %}
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, {{user}}!</h1>
        <p>Welcome to Random Word Generator.
          <br>
          This app can be used to generate words for games like Pictionary, Charades, Time's Up etc. </p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('get_word') }}" role="button">Generate Word &raquo;</a></p>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Add Words</h2>
          <p>Add Words to Database</p>
          <p><a class="btn btn-default" href="{{ url_for('add_words') }}" role="button">Add Words &raquo;</a></p>
          <p><a class="btn btn-default" href="{{ url_for('get_all_word') }}" role="button">Get All Words &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Sign up for Newsletter</h2>
          <p>Get latest update by signing up on our newsletter. We will make sure you are informed with latest updates </p>
          <p><a class="btn btn-default" href="{{ url_for('signup_newsletter')}}" role="button">Sign up &raquo;</a></p>
       </div>
      </div>

      <hr>

    </div> <!-- /container -->
{% endblock %}